.carousel {
  width: 100%;
}

.slide {
  display: flex;
  flex-wrap: nowrap;

  padding-bottom: 1rem;
  border-bottom: 1px solid #999;
  margin-bottom: 1rem;

  justify-content: center;
  align-items: center;
}

.order {
  flex: 0 0 auto;
  margin-right: 1rem;
}

.image {
  flex: 0 0 40%;

  img {
    width: auto;
  }
}

.title {
  flex: 1 0 auto;
  margin: 0 1rem;
}

.actions {
  flex: 0 0 auto;
  margin-left: 1rem;
}
